<h2>Months View</h2>

var montharray=new Array("January","February","March","April","May","June", "July","August","September","October","November","December")




<!-- Should pass in the name and description of the new goal form the new page. 

it will Display all 12 months.

Will have an edit button to add objectives for the month as well as link to weeks fo rhte month -->