/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min.css
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */


.goalsindex{
	background-image: url("http://i.imgur.com/78EUbSj.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}

.creategoal{
	margin-left:33%;
	text-align: center;
	display: inline;
	position: relative;
	top: 35px;
}

.goallist{
	text-align: center;
	font-family: 'Droid Serif';
	position: relative;
	top: 50px;
}

.new{
	background-image: url("http://i.imgur.com/7migqDY.jpg");
	background-size: cover;
	color: white;
}

.newtitle{
	margin-left: 35%;
	margin-top: 5%;
	color: white;
	font-family: 'Droid Serif';
}

.newsignup{
	text-align: right;
}

.aboutlanding{
	font-family:'Droid Serif';
	margin-left: 35%;
}

#organizer{
	color: #99CCFF;
}

#task{
	color: #FFFF99;
}

.signup{
	background-image: url("http://i.imgur.com/C8ISDhw.jpg");
	background-size: cover;
	color: white;
	font-family: 'Droid Serif'
}

.signupnew{
	margin-left: 35%;
}

.forgotnew{
	background-image: url("http://i.imgur.com/JEvna3w.jpg");
	background-size: cover;
	color: white;
	/*	background-size: 100% 220%; */
	/*http://i.imgur.com/tUMUkVh.jpg*/
}

.editprofile{
	background-image: url("http://i.imgur.com/wZ03PdR.jpg");
	background-size: auto;
	color: white;
}

.goalsnew{ 
	background-image: url("http://coachkyle.ca/wp-content/uploads/2012/07/success_next_exit-life-goals.jpg");
	background-size: cover;
	color: white;
	font-family: Reenie Beanie;
}

.newgoalhead{
	text-align: left;
	padding-top: 55px;
	padding-left: 102px;
	padding-bottom: 40px;
	font-size: 55px;
}

#newname{
	text-align: center;
	color: #FBFFFC;
	font-size: 19px;
	padding-right: 245px;
	padding-bottom: 5px;
	padding-left: 64px;
}
#newdescription{
	text-align: center;
	color: #FBFFFC;
	font-size: 19px;
	padding-right: 245px;
	padding-bottom: -5px;
	padding-left: 104px;}

/*.newcreate{
	text-align: center;
	color: #FBFFFC;	
	font-size: 15px;
}
*/
.btn-link{
	border-radius: 50px;
	color: #FBFFFC;
	font-size: 20px;		
	padding-top: 0px;
	padding-left: 533px;
}
 #goal_description{
 	color: black;
 }

#goal_name{
	color: black;
}

