.daysindex{
	background-image: url("http://i.imgur.com/xAcdpU3.jpg");
	background-size: cover;
	color: white;
}

.daysnew{
	background-image: url("http://i.imgur.com/qGepgMr.jpg");
	background-size: cover;
	color: white;
}

#daysindexheader{
	position: absolute;
	top: 1.5em;
	margin-left: 40%;
	font-family: 'Reenie Beanie'
}
.daynavi{
	top: 3.5em;
	margin-left: 45%;
	font-family: 'Reenie Beanie';
	font-size:30px;
	position: absolute;
}

#newdayform{

}

#daysubmit{
	top: 1em;
	position: relative;
	background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
 	border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}

#daynewheader{
	color: white;
	font-family: 'Droid Serif'
}

.daynewform{
	top: 10em;
	position: relative;
}

.daystable{
	position: relative;
	top: 9em;
	text-align: center;
	margin: 1px;
	float: left;
	margin-left: 5px;
	height:35em;
  	width:12em;
  	background-color: rgba(255, 255, 204, 0.5);
 	color: black;
}

#day_Thursday, #day_Friday, #day_Saturday, #day_Sunday{
	position: relative;
	top: 7.9em;
}