.daysindex{
	background-image: url("http://i.imgur.com/xAcdpU3.jpg");
	background-size: cover;
	color: white;
}

.daysnew{
	background-image: url("http://i.imgur.com/qGepgMr.jpg");
	background-size: cover;
	color: white;
}

#daysindexheader{
	position: absolute;
	top: 1.5em;
	margin-left: 40%;
	font-family: 'Reenie Beanie'
}
.daynavi{
	top: 3.5em;
	margin-left: 45%;
	font-family: 'Reenie Beanie';
	font-size:30px;
	position: absolute;
}

#daysubmit{
	top: 1em;
	position: relative;
	background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
 	border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}

#daynewheader{
	color: white;
	font-family: 'Droid Serif'
}

.daynewform{
	top: 10em;
	position: relative;
}

/*.daystable{
	position: relative;
	top: 8em;
	text-align: center;
	margin: 1px;
	float: left;
	margin-left: 5px;
	height:35em;
  	width:12em;
  	background-color: rgba(255, 255, 204, 0.5);
 	color: black;
}*/

#day_Monday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
}

#day_Tuesday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
	margin-left: 14%;
}

#day_Wednesday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
	margin-left: 28%;
}

#day_Thursday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
	margin-left: 42%;
}

#day_Friday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
	margin-left: 56%;
}

#day_Saturday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
	margin-left: 70%;
}

#day_Sunday{
	position: absolute;
	top: 13em;
	text-align: center;
	height: 35em;
	max-height: 40em;
	width: 12em;
	max-width: 12em;
	background-color: rgba(255, 255, 204, 0.5);
	color: black;
	margin-left: 84%;
}


.dayindexul .dayindexli{
  	-webkit-transform:rotate(-6deg);
  	-o-transform:rotate(-6deg);
  	-moz-transform:rotate(-6deg);
}
.dayindexul .dayindexli{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:8em;
  max-height: 10em;
  width:8em;
  max-width: 10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  font-family: 'Oleo Script';
  text-align: center;
}

.daytd{
	font-family: 'Droid Serif'
}