.goalsindex{
	background-image: url("http://i.imgur.com/vc1cOXu.jpg");
	background-size: cover;
	text-align: center;
	color: white;
	font-family:arial,sans-serif;
  	font-size:100%;
  	margin:1em;
  	color:#fff;
}

#creategoal{
	margin-left:-35%;
	text-align: center;
	display: inline;
	position: relative;
	top: 6em;
}

.stickynotes{
	margin-top: 5%;
}

.stickyheader,p{
  	font-size:100%;
  	font-weight:normal;
  	font-family: "Reenie Beanie",arial,sans-serif;
}
.indexul,.indexli{
 	list-style:none;
  	display: inline;
  	list-style-type: none;
  	padding-right: 20px;
}
.indexul{
  	overflow:hidden;
  	padding:3em;
}
.indexul .indexli{
  	text-decoration:none;
  	color:#000;
  	background:#ffc;
  	display:block;
  	height:20em;
  	width:20em;
  	padding:1em;
}
.indexul .indexli{
	margin:4em;
  	float:left;
}
.indexul .indexli .stickyheader{
  	font-size:250%;
  	font-weight:bold;
}

.indexul .indexli .sticky{
  	font-family:"Reenie Beanie",arial,sans-serif;
  	font-size:280%;
}
.indexul .indexli{
  	-webkit-transform:rotate(-6deg);
  	-o-transform:rotate(-6deg);
  	-moz-transform:rotate(-6deg);
}
.indexul .indexli{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:20em;
  width:20em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}


.goalsedit{
	background-image: url("http://i.imgur.com/kxQQw82.jpg");
	background-size: cover;
	color: white;
}

.goalsnew{ 
	background-image: url("http://www.wisieforsuccess.com/wisieblog/wp-content/uploads/2012/02/success-secret-9.jpg");
	background-size: cover;
	color: white;
	font-family: Reenie Beanie;
}

.newgoalhead{
	text-align: left;
	padding-top: 55px;
	padding-left: 380px;
	padding-bottom: 40px;
	font-size: 55px;
}

#newname{
	text-align: center;
	color: #FBFFFC;
	font-size: 19px;
	padding-right: 245px;
	padding-bottom: 5px;
	padding-left: 471px;
}
#newdescription{
	text-align: center;
	color: #FBFFFC;
	font-size: 19px;
	padding-right: 245px;
	padding-bottom: -5px;
	padding-left: 513px;
}

