
.monthsindex{
	background-image: url("http://i.imgur.com/pycIBY6.jpg");
	background-size: cover;
	color:white;
	text-align: center;
}

.monthindextext{
	font-family: 'Reenie Beanie';
}

.monthtable{
	border-spacing: 0.5rem;
	text-align: center;
	margin: 15px;
	float: left;
	margin-left:7%;
	height:20em;
  	width:20em;
 	background:#ffc;
 	color: black;
 	-webkit-transform:rotate(-6deg);
  	-o-transform:rotate(-6deg);
  	-moz-transform:rotate(-6deg);
  	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#month_2, #month_6, #month_7, #month_8, #month_11{
	-webkit-transform:rotate(6deg);
  	-o-transform:rotate(6deg);
  	-moz-transform:rotate(6deg);
}

th {
  	padding: 0.5rem;
  	text-align: center;
  	font-size: 250%;
  	font-family: 'Reenie Beanie'
}
#monthlygoal{
	font-size: 250%;
	font-family: 'Reenie Beanie' 
}

.form-group{
	top: 5em;
	margin-left: 35%;
	position: relative;
}

.monthsnew{
	background-image: url("http://i.imgur.com/VipRc60.jpg");
	background-size: cover;
	color: white;
}
#monthsubmit{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
 	border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}
#newmonthheader{
	font-family: 'Droid Serif'
}
